/**
 *
 * Pixture, for Drupal
 * Author: PIXTURE STUDIO <http://www.pixture.com>
 *
 */
/*
** Generic elements
*/
html {
	font-size: 100%; /*Fix a IE em BUG*/
}
font, basefont {
	font-size: 100%; /*Fix a IE em BUG*/
}
body {
	font-family: "Helvetica neue", Helvetica, Arial, Verdana, sans-serif;
	font-size:12px;
	color: #444444;
	margin: 0;
	padding: 0;
	text-align: center; /* IE5 hack */
	background: #fdeaf7 url("images/bg-wall.png") repeat-x top left;
	min-width: 800px;
}
div#wrapper {
	margin: 0 auto;
	padding: 0px;
	line-height: 1em;
	background: #ffffff url("images/bg-header.png") repeat-x top left;
}

div#container {
	margin: 0px;
	padding: 0px;
	text-align: left; /* IE5 hack */
	line-height:1.5em;
}
table, tr, td, thead, tbody {
	border-spacing: 0;
	border-collapse: collapse;
	border-width: 0px;
}
tr.odd td, tr.even td {
  padding: 0.4em;
}
tr.odd {
	background: #fdeaf7;
}
tr.even {
	background: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.3em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.4em;
  margin-bottom: 0.8em;
}
em {
	text-decoration: none;
	font-weight: normal;
}
div#cr8 {
	padding-top: 8px;
}
table {
	/* make <td> sizes relative to body size! */
	font-size: 1em;
	width: 100%;
	margin: 0px;
}
.form-item label {
	font-size: 1em;
	color: #666666;
	font-weight: normal;
}
ul {
	padding: 0;
	padding-left: 1em;
	margin: 0px;
}
li {
	padding: 0;
	margin: 0px;
	padding-left: 0;
	line-height: 1.6em;
}
li a, li a:visited, li a:active, li a:hover {
	font-weight: normal;
}

.item-list ul {
	padding: 0px;
	margin: 0px;
}
.item-list ul li {
	font-size: 11px;
}
.item-list .title {
  font-size: 1em;
}
div.links {
	margin-bottom: 0;

	margin-top: 10px;
	text-align: right;
}
ul.links li {
	padding: 0px 0px 0px 10px;
	margin: 0;
}
.comment .links {
  margin-bottom: 0;
}

/*
** Page layout blocks / IDs
*/
#content {
	width: 100%;
}

/*
.title, .title a {
  font-weight: bold;
  font-size: 1.3em;
  margin: 0 auto;  
}
*/

.submitted {
  color: #666666;
  font-size: 0.8em;
}
.links {
  color: #666666;
}
.links a {
  font-weight: normal;
}

/*-------------------------------------------------------------------*/
/*                          Basic Text Colors                        */
/*-------------------------------------------------------------------*/
a, a.active {
	text-decoration: none;
	font-weight: bold;
	color: #b21f88;
}
a:link, a.active:link {
	color: #b21f88;
}
a:visited, a.active:visited {
	color: #b21f88;
}
a:hover, a.active:hover {
	color: #d23fa8;
	text-decoration: underline;
}
a:focus, a.active:focus {
	outline: none;
}

/*-------------------------------------------------------------------*/
/*                               Header                              */
/*-------------------------------------------------------------------*/
table#header {
	width: 100%;
	padding: 0px;
	margin: 0px;
	background: url("images/header.png") no-repeat top left;
	vertical-align: top;
	line-height: 0em;
	margin-bottom: 15px;
}
table#header tr {
	padding: 0px;
	margin: 0px;
}
#logo {
	width: 15px;
	height: 120px;
	padding: 0px;
	margin: 0px;
}
#site_name {
	text-align: left;
	height: 88px;
	padding: 0px;
	margin: 0px;
	vertical-align: center;
	overflow: hidden;
}
#site_name h1 {
	text-align: left;
	font-size: 30px;
	line-height: 1em;
	padding: 0px 5px;
	margin: 0px;
	font-family: Georgia, Times, serif;
}
#site_name h1 a {
	color: #ffffff;
}
#site_name h1 a:hover {
	text-decoration: none;
}
#site_name .site-slogan {
	color: #ffffff;
	font-size: 1em;
	line-height: 1em;
	padding: 0px;
	margin: 0px;
	text-align: left;
	padding-left: 7px;
	padding-bottom: 10px;
	padding-top: 4px;
}
#site_search {
	margin: 0px;
	padding: 0px;
	padding-right: 10px;
	padding-bottom: 15px;
	text-align: right;
	vertical-align: center;
}

#menu {
	height: 32px;
	vertical-align: center;
	padding-left: 0px;
	text-align: left;
}

#navlist {
	font-size: 1.0em;
	padding: 0px 0px;
}
#navlist li {
	padding: 0px 8px;
}
#navlist a {
	font-weight: bold;
	color: #ffffff;
}
#subnavlist {
  padding: 0.5em 1.2em 0.4em 0;
  font-size: 0.8em;
  color: #aaaaaa;
}
#subnavlist a {
  font-weight: bold;
  color: #aaaaaa;
}

div#search {
	margin-right: 10px;
	text-align: right;
	font-size: 11px;
	margin-top: 26px;	/* this is a MUST for Safari */
}
#search .form-text {
	width: 10em;
	padding: 2px 2px;
	border: solid 1px #aaaaaa;
}
div#search label {
	color: #ffffff;
	padding: 2px;
}

/*-------------------------------------------------------------------*/
/*                          Regular Blocks                           */
/*-------------------------------------------------------------------*/
/*
 we do not define regular blocks. use the default.
*/
.block .links {
	font-size: 11px;
}
.block .content {
	padding: 10px 5px;
}

/*-------------------------------------------------------------------*/
/*                              Regions                              */
/*-------------------------------------------------------------------*/
#main-content {
	width: 100%;
}
#main {
	/* padding in px not ex because IE messes up 100% width tables otherwise */
	padding: 0px 15px 10px 15px;
}
#mission, .node .content, .comment .content {
  line-height: 1.5em;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
	padding: 0px;
	padding-bottom: 2px;
}
.error {
  border-color: red;
}
#sidebar-left, #sidebar-right {
	width: 220px;	/* needed for Drupal 6.x */
	background: #ffffff;
	padding: 0px 15px 15px 15px;
	vertical-align: top;
}
#sidebar-left {
	padding-right: 0px;
}
#sidebar-right {
	padding-left: 0px;
}
#footer {
	border: none;
	padding: 10px;
	background: #ffffff url("images/bg-footer.png") repeat-x bottom left;
	text-align: center;
	font-size: 11px;
	color: #ffffff;
}
#footer a {
	text-decoration: underline;
	font-weight: bold;
	color: #ffffff;
}
#footer .block .block-bc, #footer .block .block-tc {
	padding: 0px;
	margin: 0px;
	width: 100%;
	padding-top: 2px;
}
/*
#footer .block .block-bc {
	padding: 0px;
	margin: 0px;
	width: 100%;
	padding-top: 4px;
}
*/
#footer .block .content {
	padding: 0px;
	margin: 0px;
}

/*-------------------------------------------------------------------*/
/*                          Sidebar Blocks                           */
/*-------------------------------------------------------------------*/
.sidebar .block {
	margin: 0px;
	padding: 0px;
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom: 10px;
	width: 220px;
}
.sidebar .block .content {
	width: 100%;
}
.sidebar .block tr {
	margin: 0px;
	padding: 0px;
}
.sidebar .block td {
	margin: 0px;
	padding: 0px;
}
.sidebar .block td.block-tl {
	width: 10px;
	background: #eb5ac3 url(images/block-tl.png) no-repeat top left;
}
.sidebar .block td.block-tc {
	width: 200px;
	margin: 0px;
	padding: 2px 0px;
	text-align: center;
	background: #eb5ac3;
}
.sidebar .block td.block-tr {
	width: 10px;
	background: #eb5ac3 url(images/block-tr.png) no-repeat top right;
}
.sidebar .block td.block-bl {
	width: 10px;
	background: #f9cbed url(images/block-bl.png) no-repeat bottom left;
}
.sidebar .block td.block-bc {
	width: 200px;
	margin: 0px;
	padding: 0px 10px 0px 0px;
	background: #f9cbed;
}
.sidebar .block td.block-br {
	width: 10px;
	background: #f9cbed url(images/block-br.png) no-repeat bottom right;
}
.sidebar .block h2 {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	padding: 2px;
	text-align: center;
}
.sidebar .block h3 {
	padding: 0px 3px;
	font-size: 12px;
}
.sidebar .block .title {
	font-size: 1em;
	margin-bottom: 0.3em;
}
.sidebar .block ul.links li {
	font-size: 10px;
}

/*-------------------------------------------------------------------*/
/*                                Poll                               */
/*-------------------------------------------------------------------*/
.poll .bar {
	background-color: #eeeeee;
	border: solid 1px #aaaaaa;
}
.poll .bar .foreground {
	background: #b21f88 url("images/bg-lbar.png") repeat-x center left;
}

/*-------------------------------------------------------------------*/
/*                               Node                                */
/*-------------------------------------------------------------------*/
.node {		/* full node */
	margin: 0;
	margin-bottom: 15px;
	background: #ffffff;
	padding: 0px;
	border-bottom: solid 1px #aaaaaa;
}
.sticky {
	background: #fdeaf7;
	border-bottom: solid 0px #ffffff;
}
.teaser {
	background: #ffffff;
	border-bottom: solid 0px #ffffff;
}
.node .content, .comment .content {
	clear: both;
	margin: 1em .5em .5em .5em;
}
.node .taxonomy {
	font-size: 0.8em;
	padding-left: 1.5em;
}
.node .taxonomy li {
	padding: 1px 5px;
}
.node .picture {
	border: 1px solid #dddddd;
	float: right;
	margin: 0.5em;
}
.node .submitted {
	padding-left: 2px;
	color: #666666;
}
.node h2.title {
	font-size: 18px;
}
.node h2.title a:hover {
	text-decoration: none;
	color: #ac2e82;
}
.node h2.title {
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
	border-bottom: solid 1px #bbbbbb;
}

/* table for each node (for rounded corners without using javascript) */

.node-tl {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	border-width: 0px;
	line-height: 1;
}
.node-tr {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	border-width: 0px;
	line-height: 1;
}
.node-bl {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	border-width: 0px;
	line-height: 1;
}
.node-br {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	border-width: 0px;
	line-height: 1;
}
.node-ml {
	padding: 0px;
	margin: 0px;
	width: 10px;
	border-width: 0px;
	line-height: 1;
}
.node-mr {
	padding: 0px;
	margin: 0px;
	width: 10px;
	border-width: 0px;
	line-height: 1;
}
.node-tc {
	padding: 0px;
	margin: 0px;
	height: 10px;
	border-width: 0px;
	line-height: 1;
}
.node-mc {
	padding: 0px;
}
.node-bc {
	padding: 0px;
	margin: 0px;
	height: 10px;
	border-width: 0px;
	line-height: 1;
}

.teaser-node-tl {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	background: none;
	background: url("images/teaser-tl.gif") no-repeat bottom left;
}
.teaser-node-tc {
	padding: 0px;
	margin: 0px;
	height: 10px;
	background: none;
	background: url("images/teaser-tc.gif") repeat-x top left;
}
.teaser-node-tr {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	background: none;
	background: url("images/teaser-tr.gif") no-repeat bottom right;
}
.teaser-node-ml {
	padding: 0px;
	margin: 0px;
	width: 10px;
	background: none;
	background: url("images/teaser-ml.gif") repeat-y top left;
}
.teaser-node-mc {
	padding: 5px;
	margin: 0px;
	background: none;
}
.teaser-node-mr {
	padding: 0px;
	margin: 0px;
	width: 10px;
	background: none;
	background: url("images/teaser-mr.gif") repeat-y top right;
}

.teaser-node-bl {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	background: none;
	background: url("images/teaser-bl.gif") no-repeat bottom left;
}
.teaser-node-bc {
	padding: 0px;
	margin: 0px;
	height: 10px;
	background: none;
	background: url("images/teaser-bc.gif") repeat-x bottom left;
}
.teaser-node-br {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	background: none;
	background: url("images/teaser-br.gif") no-repeat bottom right;
}

.sticky-node-tl {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	background: none;
	background: url("images/sticky-tl.png") no-repeat bottom left;
}
.sticky-node-tc {
	padding: 0px;
	margin: 0px;
	height: 10px;
	background: none;
}
.sticky-node-tr {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	background: none;
	background: url("images/sticky-tr.png") no-repeat bottom right;
}
.sticky-node-ml {
	padding: 0px;
	margin: 0px;
	width: 10px;
	background: none;
}
.sticky-node-mc {
	padding: 5px;
	margin: 0px;
	background: none;
}
.sticky-node-mr {
	padding: 0px;
	margin: 0px;
	width: 10px;
	background: none;
}

.sticky-node-bl {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	background: none;
	background: url("images/sticky-bl.png") no-repeat bottom left;
}
.sticky-node-bc {
	padding: 0px;
	margin: 0px;
	height: 10px;
	background: none;
}
.sticky-node-br {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	background: none;
	background: url("images/sticky-br.png") no-repeat bottom right;
}

h1.pagetitle {
	font-size: 18px;
	margin: 5px 0px 10px 0px;
	padding: 5px 10px;
	color: #ffffff;
	background: url(images/bg-title.png) repeat top left;
}

/*-------------------------------------------------------------------*/
/*                              Comments                             */
/*-------------------------------------------------------------------*/
.comment {
	margin: 5px;
	margin-bottom: 20px;
	padding: 0px;
	border: solid 1px #cccccc;
	background: #ffffff;
}
.comment .title a {
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px;
}
.comment .content {
	padding: 0px 10px;
}
.comment .new {
	padding-right: 10px;
	text-align: right;
	font-weight: bold;
	font-size: 0.8em;
	float: right;
	color: red;
}
.comment .picture {
	border: 1px solid #aaaaaa;
	float: right;
	margin: 0.5em;
}
.comment .comment-id {
	font-size: 16px;
	font-weight: bold;
	padding-right: 10px;
}
.comment .submitted {
	font-size: 11px;
	margin-bottom: 10px;
	padding: 4px 5px;
	background: #eeeeee;
	color: #666666;
}
.comment div.links {
	padding: 5px;
	margin-top: 0px;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}

/*-------------------------------------------------------------------*/
/*                               Forum                               */
/*-------------------------------------------------------------------*/
#forum {
	margin: 15px 0px;
}
#forum td.container {
	background: #dddddd;
}
#forum thead, #forum tbody {
	border: solid 0px #ffffff;
}
td.icon {
	text-align: center;
}
#forum td.forum {
	margin: 0px;
	padding: 0px;
}
#forum td.last-reply {
	background: none;
}
#forum .name a {
	margin: 0px;
	padding: 0px;
}
#forum .description {
	padding: 0px;
	margin: 0;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.forum-topic-navigation a.topic-next {
	text-align: right;
}
div.forum-topic-navigation a.topic-previous {
	text-align: left;
}

/*-------------------------------------------------------------------*/
/*                              Profile                              */
/*-------------------------------------------------------------------*/
#profile .profile {
  clear: both;
  border: 1px solid #aaaaaa;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
/*-------------------------------------------------------------------*/
/*                             Administer                            */
/*-------------------------------------------------------------------*/
div.admin, div.admin .left, div.admin .right {
	margin: 0px;
	padding: 5px;
	overflow: hidden;
}
div.admin-panel {
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px;
	background: #fdeaf7;
}
div.admin-panel a {
	font-weight: normal;
	overflow: hidden;
}
div.admin-panel .description {
}
div.admin-panel .body {
	font-size: 11px;
}
div.admin-panel h3 {
	padding: 5px 8px 5px;
	margin: 0;
	background: #eb5ac3;
	color: #ffffff;
}
div.help {
	margin: 0px;
	padding: 2px 5px;
	margin-top: 5px;
}

/*-------------------------------------------------------------------*/
/*                                Pager                              */
/*-------------------------------------------------------------------*/
/*---- for Drupal 5.x ----*/
div.pager {
	margin: 5px;
	padding: 5px 0px;
	font-size: 13px;
}
.pager-list {
	margin: 0px;
	padding: 0px;
}
.pager strong.pager-current {
	color: #ffffff;
	margin: 2px;
	padding: 4px 8px;
	background: #eb5a
}
.pager a {
	margin: 2px;
	padding: 4px 8px;
	background: #f9cbed;
}
.pager a:hover {
	background: #d9abcd;
}
/*---- for Drupal 6.x ----
div.item-list ul.pager li {
	padding: 0px;
	margin: 0px;
}
ul.pager {
	padding: 5px 0px;
	margin: 0px;
}
ul.pager li {
	padding: 0px;
	margin: 0px;
}
div.item-list ul.pager li.pager-current {
	color: #ffffff;
	margin: 2px;
	padding: 4px 8px;
	background: #eb5ac3;
}
.pager a {
	margin: 2px;
	padding: 4px 8px;
	background: #f9cbed;
}
.pager a:hover {
	background: #d9abcd;
}
*/
/*-------------------------------------------------------------------*/
/*                                Tabs                               */
/*-------------------------------------------------------------------*/
.tabs {
	font-size: 12px;
}
.tabs a {
	font-weight: normal;
	line-height: 2.2em;
}
.tabs ul {
	padding: 0;
	margin: 0;
	padding-left: 5px;
	border-bottom: solid 0px #ffffff;
	margin-bottom: 10px;
}
.tabs ul li {
}
.tabs ul li a {
	margin: 0px;
	padding: 4px 10px;
	background: #ffffff;
	border: solid 1px #eeeeee;
}
.tabs ul li a:hover {
	text-decoration: underline;
	background: #cccccc;
	border: solid 1px #aaaaaa;
}
.tabs ul li a.active, .tabs ul li.active a {
	color: #ffffff;
	background: url("images/bg-bar-lite.png") repeat-x center center;
	border: solid 1px #eb5ac3;
}
.tabs ul li a.active:hover {
	text-decoration: underline;
	background: url("images/bg-bar.png") repeat-x center center;
	border: solid 1px #eb5ac3;
}
ul.secondary {
}
ul.secondary li {
	font-size: 11px;
	margin: 0;
	padding: 0;
	border: solid 0px #ffffff;
}
ul.secondary li a {
	margin: 0;
	padding: 2px 4px;
	margin-right: 2px;
	margin-left: 0px;
	border: solid 1px #eeeeee;
}

/*-------------------------------------------------------------------*/
/*                      Archive Calendar Block                       */
/*-------------------------------------------------------------------*/
.sidebar .block-archive .content {
	padding: 10px 15px 10px 5px;
}
.sidebar .block-archive .content tr {
	background: none;
	border: solid 0px #ffffff;
}
.sidebar .block-archive .content table td {
	border: solid 1px #e9bbdd;	/* a bit darker than block background */
	padding: 1px 2px;
	text-align: center;
}

/*******************************************************************
* Color Module: Don't touch                                       *
*******************************************************************/

/*-------------------------------------------------------------------*/
/*                              Mission                              */
/*-------------------------------------------------------------------*/
#mission {
	margin: 0px 20px 15px 20px;
	padding: 5px 5px;
	font-size: 1.1em;
	line-height: 1.1em;
	font-weight: bold;
	border-bottom: solid 1px #cccccc;
}

/*-------------------------------------------------------------------*/
/*                        Book Navigation                            */
/*-------------------------------------------------------------------*/
.box {
	background: #eeeeee;
	padding: 5px;
	padding: 10px;
}
.box h2 {
	padding-bottom: 2px;
	border-bottom: solid 1px #aaaaaa;
}
.book-navigation {
	padding-bottom: 5px;
}
.book-navigation ul.menu {
	padding-top: 5px;
	padding-bottom: 5px;
}
div.page-links a.page-previous {
	width: 40%;
	padding: 0px;
	margin: 0px;
}
div.page-links a.page-up {
	width: 19%;
	padding: 0px;
	margin: 0px;
}
div.page-links a.page-next {
	width: 40%;
	padding: 0px;
	margin: 0px;
}

/*-------------------------------------------------------------------*/
/*                        Image Galleries                            */
/*-------------------------------------------------------------------*/
ul.galleries li {
	border: solid 1px #aaaaaa;
	background: #ffffff;
}
ul.galleries li h3 a {
	font-size: 1.1em;
	font-weight: bold;
	
}
ul.images {
	border: solid 1px #aaaaaa;
	overflow: hidden;
}
ul.images li {
	text-align: center;
}
ul.images li h3 {
	margin: 0px;
	padding: 0px;
}

/*-------------------------------------------------------------------*/
/*                              Others                               */
/*-------------------------------------------------------------------*/
.pushbutton, button, .form-submit {
	margin-bottom: 1px;
	cursor: pointer;
	padding: 2px 10px;
	color: #666666;
	font-weight: normal;
	font-size: 12px;
	border: solid 1px #888888;
	background: #fff url("images/button.gif") repeat-x center;
}
.pushbutton:hover, button:hover, .form-submit:hover {
	color: #000000;
	border: solid 1px #666666;
	background: #fff url("images/button-o.gif") repeat-x center;
}

/*-------------------------------------------------------------------*/
/*                          Misc for Contents                        */
/*-------------------------------------------------------------------*/
pre {
	margin: 0px 3px;
	padding: 5px;
	background: #222222;
	border: solid 1px #111111;
	color: #dddddd;
	white-space: -moz-pre-wrap;	/* Mozilla */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: pre-wrap;      /* CSS3 */
	word-wrap: break-word;      /* IE 5.5+ */
	line-height: 1.5em;

	background: #eeeeee;
	border: solid 1px #bbbbbb;
	color: #222222;
}

blockquote {
	margin: 4px 10px;
	padding: 10px 15px;
	background: #f9cbed;	/* same as block content background color */
}

.messages {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.messages li {
	margin-left: 10px;
}
